<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>LOGIN</h1>

    <form action="/" method="post">
        <label for="username">Username: </label>
        <input type="text" name="username" id="username" disabled>
        <label for="password">Password: </label>
        <input type="text" name="password" id="password" disabled>
        <button type="submit" disabled>LOGIN</button>
    </form>
    <br>
    <a href="register">REGISTER HERE</a><br>
    <a href="allUsers">ALL USERS</a>

</body>
</html>